<div class="left-div">

  <form class="two-locations-form pure-form">
    <h2>pints with friends</h2>
    <h4>input your and a friend's address and travel mode to find conveniently located places to meet. we weigh overall travel time and fairness to suggest destinations. the brighter the star the better the match!</h4>
    <p><input class="location pure-input-1-2" id="first-location" type="text" placeholder="your address" data-id="0">
    <select class="transit-type">
      <option value="bike" data-transit="BICYCLING">bike</option>
      <option value="transit" data-transit="TRANSIT"selected>transit</option>
      <option value="drive" data-transit="DRIVING">drive</option>
      <option value="walk" data-transit="WALKING">walk</option>
    </select></p>
    <p><input class="location pure-input-1-2" id="second-location" type="text" placeholder="friend's address" data-id="1">
    <select class="transit-type">
      <option value="bike" data-transit="BICYCLING">bike</option>
      <option value="transit" data-transit="TRANSIT"selected>transit</option>
      <option value="drive" data-transit="DRIVING">drive</option>
      <option value="walk" data-transit="WALKING">walk</option>
    </select></p>
    <p><input class="datetimepicker pure-input-1-2" id="datetimepicker" type="text" placeholder="add date/time"></p>
    <p><input type="checkbox" class="destination-type" id="bakery"> bakery</p>
    <p><input type="checkbox" class="destination-type" id="bar" checked> bar</p>
    <p><input type="checkbox" class="destination-type" id="cafe"> cafe</p>
    <p><input type="checkbox" class="destination-type" id="movie_theater"> movie theater</p>
    <p><input type="checkbox" class="destination-type" id="restaurant"> restaurant</p>
    <button class="pure-button" id="calculate" type="button">CALCULATE</button>
    <button class="trigger-list-view pure-button" id="slide-from-right-button">Run Effect</button>
  </form>

</div>

<div id="outer-slide-left">
    <div id="slide-left">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur atque error repudiandae aliquid labore sequi veritatis quisquam magnam delectus nulla sint maiores dignissimos at alias quam eaque deserunt ipsa numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore numquam quibusdam repudiandae consectetur illo quod exercitationem culpa ad voluptatum labore unde minima voluptas harum ducimus quidem velit accusamus pariatur natus!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum tenetur aspernatur accusantium magnam quaerat quod voluptate? Nam officiis eos cumque. Libero non ab esse tenetur fugit aperiam ea tempore qui!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad natus dolorum eveniet unde quidem debitis eaque eligendi aliquid maxime illum incidunt quisquam numquam aperiam eos itaque culpa rerum similique veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita necessitatibus aliquid quibusdam odit ab delectus sed non exercitationem fuga labore! Nihil ab consequuntur autem suscipit asperiores minima quidem nesciunt atque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis explicabo recusandae alias incidunt quo aliquid fugiat pariatur impedit vero iure unde deserunt adipisci accusantium distinctio mollitia laboriosam nihil a maiores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero iure blanditiis illo mollitia fugit similique obcaecati ullam praesentium nesciunt minima enim optio necessitatibus quae qui soluta velit reiciendis deserunt ut.</p> -->
 
    </div>
</div>
