.map-canvas {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #eee;
  z-index: -100;
}

.two-locations-form {
  margin-left: 100px;
  /*margin-top: 40px;*/
  padding-top: 0px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  margin-top: 30px;
  margin-left: 90px;
  width: 270px;
  height: 557px;
  float: left;
  border: rgba(255,255,255, 0.7);
  z-index: 110;
  pointer-events: auto; 
  background:rgba(255,255,255, 0.7);
}
.two-locations-form h2 {
  margin-bottom: 0;
  margin-top: 10px;
}

.two-locations-form h4 {
  margin-top: 0;
}

.left-div {
    position:absolute;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    height:100%;
    width: 32%;
    background-color: clear;
    z-index: 100;
    pointer-events: none;
}

#slide-left {
    /*background-color:#eee;*/
    background:rgba(255,255,255, 0.7);
    /*height: 400px;*/
    height:100%; 
    width:100%;
    position: inherit;
    display:none;
    overflow: scroll;
    z-index: -90;
    pointer-events: auto; 
}

/** Style for the cointainer **/
 #outer-slide-left {
    /* float: left; */
    top: 0;
    position:absolute;
    margin-left: 33.3%;
    padding-left: 33.3%;
    /* border-left: solid; */
    height: 100%;
    /* max-width: 534px; */
    /* min-height: 500px; */
    /*background-color: clear;*/
    z-index: -100;
    pointer-events: none;
}

.trigger-list-view{
  display: none;
}