<!DOCTYPE html>
<html>
<head>
  <title>PintsWithFriends</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&v=3.exp&sensor=true?key=gmaps_pints_with_friends_key"></script>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/forms-nr-min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/buttons-min.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


